{% extends 'art.html' %}
{% block content %}
<style>
    .content-image{
        max-width: 65%;
        height: auto;
        margin-top:-50px;
    }

    @media (max-width: 768px) {
           .time-image{
        display: none;
    }
    .content-image{
        margin-top:30%;
    }
}
</style>
<div class="container my-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <img class="content-image" src="/static/assets/home_part/image/contact.png" alt="Get in Touch">
        </div>
    </div>
</div>


<div class="container my-5">
    <div class="row text-center">
        <div class="col">
            <h1 style="color: #000;"><b>COMING SOON</b></h1>
            <p style="color: #5A5A5A;">The NAS Art Gallery opens after Level 1. Stay tuned to explore handpicked artworks from our brightest participants!</p>
            <p style="color: #2D3D4E;">Watch this space for color, courage, and creativity</p>

           <div class="mt-4">
    <a href="/" style="text-decoration: none; color: #000; font-weight: 500; display: inline-flex; align-items: center; border-bottom: 1px solid #000;">
        <img src="/static/assets/home_part/image/return-arrow.png" alt="Return" style="width: 20px; height: 20px; margin-right: 8px;">
        <b>Go Home</b>
    </a>
</div>


        </div>
    </div>
</div>

{% endblock %}
